<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="13.0.7327.0" authCookieName=".SFAUTH-FirstSitefinityProject" rolesCookieName=".SFROLES-FirstSitefinityProject" validationKey="8701D72632AF399D3E7F998CA5517A2C738BF58E68AD1902681A55605EFD61B956F550B13802F9DA0D507DFC5504F1E2AA36580813EEA8194525F46F71BC49F8" decryptionKey="A22C42A5A34AA02A49A48DE85EEE9198066305A020B56DAEDBEABAB8994A4368" loggingCookieName=".SFLOG-FirstSitefinityProject">
	<securityTokenIssuers>
		<add key="BD4F86F3DE2744FC0DE12041F241375E82A6B548C91150458AC327250EEF1E13" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="BD4F86F3DE2744FC0DE12041F241375E82A6B548C91150458AC327250EEF1E13" realm="http://localhost" />
	</relyingParties>
</securityConfig>