<?xml version="1.0" encoding="utf-8"?>
<webServicesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="13.0.7327.0">
	<Routes>
		<add name="Frontend" config:flags="1">
			<services>
				<add access="Anonymous" accessControlAllowOrigin="*" urlName="default" config:flags="1" />
				<add name="Featured Articles" access="Anonymous" urlName="featured-articles">
					<types>
						<add urlName="newsitems" clrType="Telerik.Sitefinity.News.Model.NewsItem" type:this="Telerik.Sitefinity.Web.Api.Configuration.LifecycleTypeSettings, Telerik.Sitefinity.Web.Api">
							<propertyMappings>
								<remove Name="PublicationDate" />
								<remove Name="AllowComments" />
								<remove Name="Comments" />
								<remove Name="Author" />
								<add PersistentName="Author" Name="Author" type:this="Telerik.Sitefinity.Web.Api.Configuration.PersistentPropertyMapping, Telerik.Sitefinity.Web.Api" />
								<add ResolverType="Telerik.Sitefinity.Services.Comments.CommentProperty" SelectedByDefault="False" Name="Comments" type:this="Telerik.Sitefinity.Web.Api.Configuration.CalculatedPropertyMapping, Telerik.Sitefinity.Web.Api" />
								<add PersistentName="AllowComments" AllowFilter="False" AllowSort="False" Name="AllowComments" type:this="Telerik.Sitefinity.Web.Api.Configuration.PersistentPropertyMapping, Telerik.Sitefinity.Web.Api" />
								<add PersistentName="PublicationDate" Name="PublicationDate" type:this="Telerik.Sitefinity.Web.Api.Configuration.PersistentPropertyMapping, Telerik.Sitefinity.Web.Api" />
							</propertyMappings>
							<methods>
								<add QueryString="$expand=Thumbnail&amp;inlinecount=alllpages&amp;$top=3" Name="top" />
							</methods>
						</add>
						<add urlName="images" clrType="Telerik.Sitefinity.Libraries.Model.Image" type:this="Telerik.Sitefinity.Web.Api.Configuration.LifecycleTypeSettings, Telerik.Sitefinity.Web.Api" />
						<add urlName="flat-taxa" clrType="Telerik.Sitefinity.Taxonomies.Model.FlatTaxon" />
						<add urlName="hierarchy-taxa" clrType="Telerik.Sitefinity.Taxonomies.Model.HierarchicalTaxon" />
					</types>
				</add>
			</services>
		</add>
	</Routes>
</webServicesConfig>